<!--<mat-drawer-container>-->
<!--  <mat-drawer #drawer mode="over" opened>-->
<!--    <ul>-->
<!--      <li><a routerLink="/home" (click)="drawer.toggle()">Home</a></li>-->
<!--    </ul>-->
<!--    <ul>-->
<!--      <li><a routerLink="/bullish" (click)="drawer.toggle()">Bullish</a></li>-->
<!--    </ul>-->
<!--  </mat-drawer>-->

<!--  <mat-drawer-content>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-drawer-content>-->
<!--</mat-drawer-container>-->
<nav mat-tab-nav-bar >
  <a mat-tab-link routerLink="/home" routerLinkActive #home="routerLinkActive"
     [active]="home.isActive">
    Home
  </a>
  <a mat-tab-link routerLink="/bullish" routerLinkActive #bS="routerLinkActive"
     [active]="bS.isActive">
    Bullish
  </a>
</nav>
<router-outlet></router-outlet>

