<nav mat-tab-nav-bar >
  <a mat-tab-link routerLink="/home" routerLinkActive #home="routerLinkActive"
     [active]="home.isActive">
    Home
  </a>
  <a mat-tab-link routerLink="/stocks" routerLinkActive #market="routerLinkActive" [active]="market.isActive">
    <div style="flex-direction: column; overflow: visible; z-index: 1000">
      <span>Stocks</span>
<!--      <div *ngIf="market.isActive" style="display: flex; flex-direction: column; position: absolute;">-->
<!--        <span>Test</span>-->
<!--        <span>Test1</span>-->
<!--      </div>-->
    </div>
  </a>
  <a mat-tab-link routerLink="/Test" routerLinkActive #test="routerLinkActive" [active]="test.isActive">
    Test
  </a>

</nav>
<router-outlet></router-outlet>

