.app {
  display: flex;
  /*justify-content: space-between;*/
  flex-direction: column;
  height: 100%;
}

h1 {
  background-color: chocolate;
  margin: 0;
  display: flex;
  justify-content: center;
}

.app-nav-bar {
  height: 100%;
}

